/* $Id$ */

body {
  background: #fafafa url("/images/nanobg.png");
  background-repeat: repeat-y;
  background-position: right;
  font-family: "Bitstream Vera Sans", Verdana, Helvetica, Arial, sans-serif; 
}

#header {
  position: relative;
  border-bottom: 3px solid #0000cc;
  margin-bottom: 1em;
}

#headerLeft {
  height: 70px; 
  width: 90px;
}

#headerRight {
  margin-left: 2em;
  position: absolute;
  left: 90px;
  top: 0px;
}

#headerRight h1 {
  /*border-top:    1px solid #7c7c7c;*/
  display: block;
  width: 100%;
}

.headerCrumbs {
  font-style: italic;
}

.crumbs {
  margin: 1em 0px 5px 15px;
  /*display: block;*/
  font-size: 80%;
  /*border-bottom: 1px dotted #cccccc;*/
}

/* the links probably don't need as much decoration on them in this case */
.crumbs a:link, .crumbs a:visited, .crumbs a:active
{
  text-decoration: none;
  color: #2071CC;
}

.crumbs a:hover
{
  text-decoration: none;
  color: #000000;
  background-color: #FFFF99;
}

.crumbs a:active
{
  text-decoration: underline;
  color: #FF3333;
}


.content {
  /*background-color: white;*/
  /*font-size: smaller;*/
  padding: 0px;
  margin: 0px;
  margin-right: 11em;
  margin-top: 0em;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  background-color: #FFFF99;
  color: #1005A7;
}

a:active 
{ 
  text-decoration: underline;
  color: #DA4C71; 
}

h1 a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.editdate {
  font-size: 80%;
  margin-bottom: -1ex; 
}

.footer {
  padding-top: 5em;
  margin-top: 1em;
  border-top: 3px solid #0000cc;
  font-size: 70%;
  color: #aaaaaa;
  clear: both;
}

.copyright {
}

.footer a {
  color: #aaaaff;
}
  

pre {
  font-family: "Bitstream Vera Sans Mono",Courier New, monospace;
  border: 1px solid #aaaaff;
  margin: 0.5em 3em 0.5em 3em;
  padding: 0.5em;
}

a img {
  border: none;
}

.floatRight {
  clear: both;
  float: right;
  margin: 0.2em;
  margin-right: 0em;
}

.floatLeft {
  clear: both;
  float: left;
  margin: 0.2em;
  margin-left: 0em;
}

.fmenu {
  float: right;
  width: 10em;
  font-size: 80%;
  padding: 1em 1em 1em 1em;
}

.fmenu h3 {
  margin: 0;
  padding: 0;
}

.fmenu li, .fmenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.fmenu a {
  display: block;
  color: black;
  text-decoration: none;
}

/*.fmenu a:hover, .fmenu a:active, .fmenu a:visited {
  color
*/

.fmenu a {
  width: 100%;
  padding: 0 0.2em 0 0.2em;
  margin: 0.2em 0 0.2em 0em;
  background-color: #ccccff;
  border-right: 2px solid #000000;
  border-left: 2px solid #999999;
  border-top: 2px solid #999999;
  border-bottom: 2px solid #000000;
}

.fmenu a:hover, a.but:hover {
  background-color: #ffffff;
}

.fmenu a:active, a.but:active {
  background-color: #ccffcc;
  border-left: 2px solid #000000;
  border-right: 2px solid #999999;
  border-bottom: 2px solid #999999;
  border-top: 2px solid #000000;
}

.centrein {
  width: 90%;
  margin: 0em 5% 0em 5%;
}

table.calendar, table.calendarzoom {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 70%;
}

table.calendar {
}

.calendar tr, .calendar td {
  /*height: 0.5em;*/
}

/*.calendar td, .calendar th {*/
.calday, .caldow {
  width: 13%;
}

.caldayzoom {
  width: 90%;
}

.calday, .caldow, .caldayzoom {
  border: 1px solid black;
  vertical-align: top;
}

.timecol, .timecolzoom {
  text-align: center;
  vertical-align: top;
  border: 1px solid black;
}

.timecol {
  width: 5%;
}

.timecolzoom {
  width: 10%;
}

th.caldow {
  background-color: #ccccff;
}

.caldate {
  font-style: italic;
}

.moneven {
  background-color: #ffecfc;
}

.monodd {
  background-color: #eeffff;
}

.caltoday{
  background-color: #ffeecc;
}

.startmonth {
  display: inline;
}

.contmonth {
  display: none;
}

.alignleft {
  display: inline;
  text-align: left;
}

.alignright {
  display: inline;
  text-align: right;
}

/*.booktime, .booktimezoom {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.booktime li, .booktimezoom li {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  white-space: nowrap;
  overflow: hidden;
}

.booktime li {
  height: 1.2em;
}

.booktimezoom li {
  height: 2.4em;
}

.booking {
}
*/
.vacancy {
  /* this style can't have a px border as the exact height in em is important */
  /*border: 1px solid green;*/
  border: 1px solid green;
  margin: 0 1em 0 0em;
  /*background-color: #ccffcc;*/
}

.disabled {
  background-color: #fff;
}

.booktimezoom .vacancy {
  background-color: #ddffdd;
  margin: 0;
}

.booking {
  border: 1px solid red;
  margin: 0 1em 0 0em;
  background-color: #ffdddd;
  /*white-space: normal;*/
}

.booktimezoom .booking {
  margin: 0;
}

.vacancy, .booking {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  white-space: nowrap;
  overflow: hidden;
}

/*unused?*/
a.but { 
  /*border-right: 2px solid #000000;
  border-left: 2px solid #999999;
  border-top: 2px solid #999999;
  border-bottom: 2px solid #000000;
  padding: 0 0.2em 0 0.2em;
  margin: 0.2em 0 0.2em 0em;*/
  background-color: #ccccff;
  color: black;
  text-decoration: none;
  font-size: 70%;
}

/* unused ? */
.calendarzoom .but, .calendar .but {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  /*border: 1px solid black;
  font-size: 70%;*/
  background: transparent;
}

/* unused ? */
.calendarzoom .but:hover, .calendar .but:hover {
  background: transparent;
}

/* unused ? */
.calendar .but {
  height: 1.2em;
  width: 1.2em;
  border: none;
}

/* unused ? */
.calendarzoom .but {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: none;
}

.calicon {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 1.8em;
  width: 1.8em;
  border: none;
  background: transparent;
  /*border: 1px solid black;*/
  /*font-size: 70%;*/
}

.calendarzoom .calicon {
  height: auto;
  width: auto;
}

.calbookperson {
  /*width: 90%;*/
  /*margin-right: 1.1em;*/
  color: blue;
  overflow: hidden;
  /*border: 1px solid black;*/
}

.calendarzoom .calbookperson {
  white-space: normal;
}

.sql {
  margin: 1em 5% 1em 5%;
  padding: 0.5em;
  border: 1px solid blue;
  background-color: #ccccff;
}

.error, .msgerror {
  border: 1px solid red;
  background-color: #ffcccc;
  margin: 1em;
  padding: 1em;
}

.msgsuccess {
  border: 1px solid green;
  background-color: #ccffcc;
  margin: 1em;
  padding: 1em;
}

.sql, .error {
  /*display: none;*/
}

.tabularobject {
  border: 1px solid black;
  margin: 0.5em 3em 0.5em 3em;
  border-collapse: collapse;
}

.tabularobject td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.inputerror {
  border: 1px solid red;
  background-color: #ffcccc;
}

.inputerror td {
  /*border: 1px solid red;*/
  background-color: #ffcccc;
  padding: 0.5em;
}

ul.selectlist {
  list-style: none;
}

table.selectlist {
  margin: 0 3em 0 3em;
  border-collapse: collapse;
  border: 1px solid black;
}

td.itemL {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

td.itemR {
  padding-right: 0.3em;
}

tr.itemrow {
}

td.itemL a {
  display: block;
}

.selectlist a {
  text-decoration: none;
}

.radioitem {
}

input.radioitem {
}

td {
  vertical-align: top;
}

