/* $Id$ */

body {
  background: #fafafa url("/theme/images/nanobg.png");
  background-repeat: repeat-y;
  background-position: right;
  font-family: "Bitstream Vera Sans", Verdana, Helvetica, Arial, sans-serif; 
}

#header {
  position: relative;
  border-bottom: 3px solid #0000cc;
  margin-bottom: 1em;
}

#headerLeft {
  height: 70px; 
  width: 90px;
}

#headerRight {
  margin-left: 2em;
  position: absolute;
  left: 90px;
  top: 0px;
}

#headerRight h1 {
  /*border-top:    1px solid #7c7c7c;*/
  display: block;
  width: 100%;
}

#bumblebeefooter {
  padding-top: 5em;
  margin-top: 1em;
  border-top: 3px solid #0000cc;
  clear: both;
}
