/* $Id$ */

body {
  background: #fafafa url("/theme/images/logo.png");
  background-repeat: repeat-y;
  background-position: right;
}

#header {
  position: relative;
  border-bottom: 3px solid #0000cc;
  margin-bottom: 1em;
}

#headerLeft {
  height: 70px; 
  width: 90px;
}

#headerRight {
  margin-left: 2em;
  position: absolute;
  left: 90px;
  top: 0px;
}

#headerRight h1 {
  /*border-top:    1px solid #7c7c7c;*/
  display: block;
  width: 100%;
}

#bumblebeefooter {
  padding-top: 5em;
  margin-top: 1em;
  border-top: 3px solid #0000cc;
  clear: both;
}

#fmenu {
  float: left;
  width: 12em;
  font-size: 80%;
  padding: 1em 1em 1em 1em;
  margin: 0;
}

#fmenu h3 {
  margin: 0;
  padding: 0;
}

#bumblebeecontent {
  margin-left: 12em;
}
